.form-container {
  margin: 50px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-left {
  background: #eef5fc;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-left img {
  max-width: 100%;
  height: auto;
}

.custom-label {
  color: gray;
}

.form-left h2 {
  margin-top: 20px;
  color: #333;
}

.form-right {
  padding: 30px;
}

.form-control:focus {
  border-color: #006aff;
  box-shadow: none;
}

.btn {
  font-weight: 350;
  color: white !important;
  background-color: #003d2b;
  border-color: gray;
}

.btn:hover {
  /* color: black !important; */
  background-color: #bee2b1;
  border-color: #bee2b1;
}

.form-control {
  height: 20px !important;
  line-height: 1.5;
  padding: 2px 8px; /* Reduced padding */
}


@media (max-width: 991px) {
  .form-left {
    display: none !important;
  }
  .header {
    text-align: center;
  }
  .form-right h5 {
    font-weight: 600;
    font-size: 15px;
  }
  .text-muted {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .form-left {
    display: none;
  }
  .form-right {
    padding: 20px;
  }
  .header {
    font-size: 1.5rem;
  }
  .btn-primary {
    font-size: 1rem;
  }
  .form-container {
   
    margin: 20px auto;
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }
  .form-left,
  .form-right {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-left h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .form-left p {
    font-size: 1rem;
    text-align: center;
  }
  .form-left img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
  .form-right .header {
    font-size: 1.25rem;
    text-align: center;
  }
  .form-right .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .form-right .form-footer {
    text-align: center;
  }
  .input-group-text {
    height: 50px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .input-group-text {
    height: 58px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
}

.form-footer {
  font-size: 13px;
}

.form-control {
  height: 45px !important;
  line-height: 1.5;
  padding: 5px;
}


.date-time{
  width: 50% !important;
}
.css-er619e-MuiFormHelperText-root.Mui-error{
  color: red !important;
}

/* ========================================================== */

.css-y1gt6f{
  margin-top: 0px !important;
}