.Middlebar{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F5F5F5;
}
.Middle-flex{
    width: 100%;
}
.middle-box{
    margin: 30px auto;
    width: 100%;
    padding: 30px 30px 0px 40px;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.middle-data{
    width: 60%;
}
.middle-data h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding-top: 25px;
}
.middle-data p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 50px;
}
.middle-data a{
    margin-top: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
    color: #000;
}
.md-l-img{
    width: 50%;
    text-align: center;
}
.md-l-img img{
    border-radius: 24px 24px 0px 0px;
    -moz-border-radius: 40px 40px 0px 0px;
    -webkit-border-radius: 40px 40px 0px 0px;
    border: 0px solid #000000;
    width: 60%;
    height: 250px !important;
}



@media (max-width:448px) {
    .Middlebar{
        background-color: #FFF;
    }
    .middle-box{
        padding: 10px;
        flex-direction: column;

        box-shadow: 0px 3px 28px 0px rgba(0, 0, 0, 0.1);
    }
    .middle-data{
        width: 100%;
    }
    .middle-data p{
        padding-bottom: 10px;
    }
    .middle-data a{
        display: none;
    }
    .m-m-a-c{
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        display: block !important;
        text-align: center;
        padding: 6px 10px;
        border-radius: 10px;
        border: 1px solid #000000 !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;  
        color: #000;
    }
    .md-l-img{
        width: 100%;
        text-align: center;
    }
    .md-l-img img{
        margin: 0 auto;
        width: 90%;
    }
}
@media (min-width:449px) and (max-width:568px) {
    .Middlebar{
        background-color: #FFF;
    }
    .middle-box{
        padding-bottom: 20px !important;
        padding: 10px;
        flex-wrap: wrap;

        box-shadow: 0px 3px 28px 0px rgba(0, 0, 0, 0.1);
    }
    .middle-data{
        width: 100%;
        padding-bottom: 20px !important;
    }
    .middle-data p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 23px !important;
    }
    .middle-data p{
        padding-bottom: 0px !important;
    }
    .middle-data a{
        display: none;
    }
    .m-m-a-c{
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        display: block !important;
        text-align: center;
        padding: 6px 10px;
        border-radius: 10px;
        border: 1px solid #000000 !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;  
        color: #000;
    }
    .md-l-img{
        width: 100%;
        text-align: center;
    }
    .md-l-img img{
        width: 300px;
        margin: 0 auto;
    }
}
@media (min-width:569px) and (max-width:950px) {
     .middle-data{
        width: 70%;
        padding-bottom: 12px;
    }
    .middle-data p{
        padding-bottom: 0px !important;
    }
    .middle-data a{
        margin-top: -20px !important;
    }
    .md-l-img img{
        width: 100%;
    }
}
@media (min-width:951px) and (max-width:1020px) {
     .middle-data{
        width: 87%;
    }
    .middle-data p{
        padding-bottom: 0px !important;
    }
    .md-l-img img{
        width: 100%;
    }
}
.m-m-a-c{
    display: none;
}

/* @media (min-width: 569px) and (max-width: 950px) {
    .middle-data {
      width: 94% !important;
    }
    .middle-data p{
        padding-bottom: 0px !important;
    }
  } */



  .media-middle-show{
    display: none;
  }
  .desktop-size-middle{
    display: block;
    margin-top: 40px !important;
  }
  @media (max-width:786px) {
    .media-middle-show{
        display: block !important;
        padding-bottom: 0px;
    }
    .desktop-size-middle{
        display: none;
    }
  }
  .Middlebar{
      .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
          display: none;
    }
}