.foetr-mainbox{
    background: url(https://i.ibb.co/C7xM40V/88caf9d17ac99e459fcb0f0d96e8e0ee.png);
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.footeR-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-box{
    width: 20%;
    /* margin-left: 60px; */
    padding-top: 50px;
}
.footer-box  ul{
    padding-left: 0px;
}
.footer-box ul li{
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    list-style-type: none;
}
.footeR-box h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    padding-bottom: 40px;
}
.ftr-fir ul li{
    line-height: 60px;
}
.ftr-botom{
    display: flex;
    justify-content: center !important;
}
.ftr-botom h4{
    align-content: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    padding-right: 10px;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;

}
.ftr-paymet{
    align-content: center;
}
.ftr-botttom-img img{
    padding-left: 10px;
}

@media (max-width:786px) {
    .foetr-mainbox{
        height: 100%;
    }
    .footeR-box{
        margin-top: 40px;
        flex-direction: column;
        padding-top: 40px;
    }
    .footer-box{
        width: 100%;
        padding-left: 3px;
        padding-top: 10px;
        ul li{
            img{
                width: 20px;
            }
        }
    }
    .footeR-box h4{
        padding-bottom: 0px;
    }
    .ftr-fir ul li{
        line-height: 50px;
    }
    .ftr-fir ul{
        img{
            width: 27px;
        }
    }
    .footer-box ul li{
        font-size: 15px;
        line-height: 43px;
    }
    .ftr-botom{
        flex-direction: column;
        text-align: center;
        /* width: 50%; */
        margin: 0 auto  67px auto !important;
        padding-bottom: 30px !important;
    }






    .ftr-fixed-botom{
        display: block !important;
        width: 100%;
        position: fixed;
        background-color: #fff;
        bottom: 0px;
        z-index: 10;
        border: 1px solid #CECECE;
    }
    .m-n-b-f-f-b{
        justify-content: space-around;
    }
    .m-n-b-f-f-b-box{
        width: 20%;
        text-align: center;
        padding: 10px 0px;
            color: black;
        p{
            font-size: 12px;
        font-weight: 600;
        /* line-height: 18px; */
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 4px;
        }
    }
    .bomsed p {
        color: #003d2b !important;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
    }
    .bomsed-yop img{
        margin-top: -28px;
    }
}
@media (min-width:787px) and (max-width:1205px) {
    .foetr-mainbox{
        height: 100%;
    }
    .footeR-box{
        width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .footer-box{
        width: 46%;
        /* margin-left: 60px; */
        padding-top: 50px;
    }
}
.ftr-fixed-botom{
    display: none;
}















.m-n-b-f-f-b-box.active {
    color: #003d2b !important; /* Changes text color to red */
    border-bottom: 2px solid #003d2b !important; /* Optional: Add a red underline */
  }
  
  .m-n-b-f-f-b-box.active i {
    color: #003d2b !important; /* Changes icon color to red */
  }
  