/* *{
    border: 1px solid red;
} */


    .css-7qr6bb-MuiPaper-root {
        width: 90% !important;
        margin: 40px auto !important;
        
    }
    @media (max-width:768px) {
        
        .css-7qr6bb-MuiPaper-root {
            width: 100% !important;
            margin: 10px auto !important;
        }
            
    }